.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.delete-button {
    background-color: #ff6347; /* Tomato */
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.delete-button:hover {
    background-color: #ff4500; /* Darker tomato */
}
.pagination-button {
    background-color: #009879; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.pagination-button:disabled {
    background-color: #cccccc; /* Gray */
    cursor: not-allowed;
}

.page-info {
    font-size: 1.2em;
    color: #009879; /* Green */
}

.page-input {
    margin-left: 10px;
}

.page-number-input {
    width: 100px;
    padding: 5px;
    border: 2px solid #009879; /* Green */
    border-radius: 5px;
    font-size: 1em;
}

.no-data-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    color: #444;
    background-color: #f0f0f0;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  }
  
  .no-data-message h2 {
    font-size: 2em;
    margin-bottom: 0.5em;
  }
  
  .no-data-message p {
    font-size: 1.2em;
    color: #666;
  }